:root {
  --Montserrat-regular-font: "MontserratRegular", serif, sans-serif;
  --Montserrat-latin-font: "MontserratLatin", serif, sans-serif;
  --Roboto-regular-font: "RobotoRegular", serif, sans-serif;
  --Roboto-latin-font: "RobotoLatin", serif, sans-serif;
}
