.masthead-wrapper {
  background: linear-gradient(
      to bottom,
      rgba(243, 129, 129, 0.9) 0%,
      rgba(252, 227, 138, 0.9) 100%
    ),
    url(../../img/headerBackground-min.png) center/cover no-repeat;
  padding: 2.6rem 0 23rem 0;
}

.site-header {
  @include between-flex;
  align-items: baseline;
  padding-bottom: 18.2rem;
}

.logo__link {
  font-size: 3rem;
  color: $header-main-color;
  font-family: $MontserratBold;
}

.site-navigation {
  min-width: 62.4rem;
}

.navigation-list {
  @include between-flex;
}

.navigation-list svg {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  fill: $header-main-color;
}

.list__link {
  @include text("trans");
  font-size: $main-font-size;
  color: $header-main-color;
  font-family: $MontserratRegular;
  transition: color 200ms linear;

  &::after {
    @include pseudo($display: block);
    border-bottom: 0.3rem solid $header-hover-color;
    margin-top: 1rem;
    visibility: hidden;
    transition: visibility 200ms linear;
  }
  
  &:hover,
  &:focus {
    color: $header-hover-color;
  }
}

.list__item:hover .list__link::after {
  visibility: visible;
}
