html {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif, serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 1110px;
  margin: 0 auto;
}
.site-header {
  margin-bottom: 64px;
  padding-top: 36px;
}
.logo {
  display: block;
  margin: 0;
  float: left;
}
.logo::first-letter {
  color: #1abc9c;
  font-weight: bold;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link-logo {
  font-family: "Open Sans", sans-serif, serif;
  color: #555252;
  font-weight: 300;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
}
.site-nav {
  float: right;
  margin: 12px 0 0 0;
}
.list-nav {
  padding: 0;
  list-style: none;
  margin: 0;
}
.item-nav {
  font-family: "Roboto", sans-serif, serif;
  color: #0f0101;
  float: left;
  text-transform: uppercase;
  font-size: 11px;
}
.item-nav:not(:last-child) {
  margin-right: 32px;
}
.item-nav:hover,
.item-nav:target {
  color: #29c0a3;
  cursor: pointer;
}
.sect-product {
  margin-bottom: 106px;
}
.title-product {
  font-size: 48px;
  text-transform: uppercase;
  width: 540px;
  margin: 0 auto 90px auto;
  text-align: center;
  color: #515151;
}
.title-product::after {
  content: "";
  border-bottom: 7px solid #1abc9c;
  display: block;
  width: 188px;
  margin: 0 auto;
  margin-top: 24px;
}
.list-product {
  width: 1110px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
.item-product {
  list-style: none;
  width: 255px;
  height: 322px;
  background-color: #e8effc;
  float: left;
}
.item-product:hover .title-goods__wrapper {
  background-color: #1abc9c;
}
.item-product:not(:nth-child(4n)) {
  margin-right: 30px;
}
.item-product:nth-child(-n + 4) {
  margin-bottom: 30px;
}
.link-product {
  display: block;
}
.link-product__wrapper {
  height: 282px;
  width: 255px;
}
.img-product {
  height: 282px;
  width: 255px;
}
.img-product__five {
  padding-top: 10px 27px 56px 32px;
}
.img-product__eight {
  padding: 96px 8px 86px 13px;
}
.title-goods__wrapper {
  width: 255px;
  height: 40px;
  background-color: #323232;
  color: #ffffff;
  text-transform: uppercase;
}
.title-goods {
  width: 200px;
  height: 40px;
  margin: 0;
  line-height: 40px;
  padding-left: 10px;
  float: left;
  font-size: 18px;
}
.item-price {
  width: 55px;
  height: 40px;
  margin: 0;
  line-height: 40px;
  text-align: center;
  float: right;
  font-size: 18px;
  background-color: rgba(140, 140, 140, 0.44);
}
.sect-news {
  margin-bottom: 46px;
}
.title-news {
  font-size: 48px;
  text-transform: uppercase;
  width: 540px;
  margin: 0 auto 90px auto;
  text-align: center;
  color: #515151;
}
.title-news::after {
  content: "";
  border-bottom: 7px solid #1abc9c;
  display: block;
  width: 164px;
  margin: 0 auto;
  margin-top: 24px;
}
.article-news {
  float: left;
  width: 348px;
}
.article-news:not(:last-child) {
  margin-right: 30px;
}
.img-news {
  width: 348px;
  height: 260px;
}
.title-main__news {
  font-size: 18px;
  font-family: "Open Sans", sans-serif, serif;
  color: #555252;
}
.title-main__news::after {
  content: "";
  border-bottom: 3px solid #1abc9c;
  display: block;
  width: 136px;
  margin-top: 12px;
}
.text-news {
  font-size: 14px;
  font-family: "Open Sans", sans-serif, serif;
  color: #555252;
}
.link-news {
  display: block;
  height: 50px;
  line-height: 50px;
  width: 160px;
  border-radius: 3px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif, serif;
  color: white;
  text-align: center;
  background-color: #4ec6ab;
  text-decoration: none;
  cursor: pointer;
}
