:root {
  --Montserrat-regular-font: "MontserratRegular", serif, sans-serif;
  --Montserrat-latin-font: "MontserratLatin", serif, sans-serif;
  --Roboto-regular-font: "RobotoRegular", serif, sans-serif;
  --Roboto-latin-font: "RobotoLatin", serif, sans-serif;
  --header-main-color: #ffffff;
  --header-button-bg-color: #ff4e50;
  --main-section-title-color: #333333;
  --main-section-text-color: #666666;
  --main-button-color: #ff4e50;
  --main-button-hover-color: #ffffff;
}
