:root {
  --Roboto-font: "Roboto", sans-serif;
  --Montserrat-font: "Montserrat", sans-serif;
  --Kaushan-font: "Kaushan Script", cursive;
  --header-font: #95e1d3;
  --section-title-font: #333333;
  --section-title-border-font: #f38181;
}
