html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
body {
  font-family: "Playfair Display", serif;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  text-align: center;
}
.list-item {
  list-style: none;
  display: inline-block;
}
.list-item a:hover {
  color: red;
  cursor: pointer;
}
.link-item {
  text-decoration: none;
}
.container {
  width: 470px;
  margin: 0 auto;
  border: 1px solid grey;
  margin-bottom: 50px;
  padding: 25px;
}
.article-news {
  width: 420px;
}
.article-image {
  margin-bottom: 30px;
}
.article-title__text {
  margin: 0 0 30px 0;
  text-transform: uppercase;
}
.article-title {
  margin: 0 0 30px 0;
}
.article-text {
  margin: 0;
}
.wrapper-news {
  margin-bottom: 50px;
}
.wrapper-news__list {
  width: 960px;
  font-size: 0;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid grey;
}
.wrapper-news__item {
  display: inline-block;
  width: 420px;
  font-size: 16px;
}
.wrapper-news__item:first-child {
  margin-right: 38px;
}
.info {
  margin: 0 auto;
  text-align: left;
}
