* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #212121;
}
.nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.nav__link {
  display: block;
  padding: 16px 24 px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  color: currentColor;
  background-color: #fff;
  color: #212121;
}
.nav__link--active {
  background-color: #3f51b5;
  color: #fff;
  pointer-events: none;
}
.nav__link:hover,
.nav__link:focus {
  text-decoration: underline;
}
.tags__item {
  border: none;
  border-radius: 2px;
  padding: 8px 24px;
  margin-left: 4px;
  margin-right: 4px;
  font-size: 16px;
  line-height: 1.5;
  font-family: inherit;
  color: #212121;
  text-transform: uppercase;
  text-align: center;
  white-space: nowrap;
  text-decoration: none;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s, box-shadow 0.3s, opacity 0.3s, color 0.3s;
}
.tags__item--active {
  color: #fff;
  background-color: #2196f3;
}
.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}
.todo-list__item {
  flex: 0 0px 33.333%;
  padding: 8px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
}
.page-nav__link--active {
  background-color: #ff5252;
}
