.site-main {
  padding-top: 5.4rem;
}

.services {
  padding-bottom: 10rem;
}

.services__sub-title,
.team__sub-title {
  @include text("align");
  @extend %title;
  font-size: 2.4rem;
  color: $main-title-color;
  font-family: $KaushanScript;
  margin-bottom: 2.2rem;
}

.services__title,
.team__title {
  @include text("all");
  @extend %title;
  font-size: 3rem;
  font-family: $MontserratBold;
  color: $main-title-color;
  margin-bottom: 6.6rem;

  &::after {
    @include pseudo($display: block);
    border-bottom: 0.3rem solid $title-border-color;
    width: 6rem;
    margin: 4.2rem auto 0 auto;
  }
}

.services-list {
  @include wrap-flex;
  @extend %list;
  justify-content: space-around;
}

.services-item {
  @include wrap-flex;
  @extend %item;
  justify-content: flex-end;
  width: 38rem;

  &:nth-child(-n + 3) {
    margin-bottom: 10.2rem;
  }
}

.item__svg {
  width: 3.2rem;
  height: 3.2rem;
  margin: 0 auto;
  fill: $main-icon-color;
}

.item__title {
  @include text("trans");
  @extend %title;
  font-size: $main-font-size;
  font-family: $MontserratRegular;
  color: $main-title-color;
  margin-bottom: 2.2rem;
  width: 30rem;
}

.item__text {
  @extend %text;
  font-size: $secondary-font-size;
  font-family: $RobotoRegular;
  color: $main-text-color;
  width: 30rem;
}
