.site-main {
  padding: 7.2rem 0 5.6rem 0;
}
.main-section {
  margin: 0 auto;
  width: 90%;
}
.main-section__title {
  font-size: 2.2rem;
  font-family: var(--Montserrat-latin-font);
  color: var(--main-section-title-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 1.8rem;
}
.section-list {
  margin-bottom: 2.8rem;
}
.section-item {
  width: 22rem;
  margin: 0 auto;
}
.section-item:not(:last-child) {
  margin-bottom: 2.8rem;
}
.item-link {
  display: block;
}
.section-figure {
  margin: 0;
}
.figure-img__block {
  position: relative;
  margin: 0 auto 2.2rem auto;
  height: 12rem;
  width: 12rem;
}
.figure-block__img {
  border-radius: 50%;
}
.figure-img__block::after {
  content: "";
  display: block;
  background-repeat: no-repeat;
  height: 4rem;
  width: 4rem;
  position: absolute;
  left: 9rem;
  top: 8.8rem;
}
.picture-item__first::after {
  background-image: url(../../img/icons/icon-TV.png);
}
.picture-item__second::after {
  background-image: url(../../img/icons/icon-bottle.png);
}
.picture-item__third::after {
  background-image: url(../../img/icons/icon-coffee.png);
}
.picture-item__fourth::after {
  background-image: url(../../img/icons/icon-telegram.png);
}
.section-item__title {
  font-size: 1.4rem;
  font-family: var(--Montserrat-latin-font);
  color: var(--main-section-title-color);
  text-align: center;
  margin-top: 0;
  margin-bottom: 2rem;
}
.section-item__text {
  font-size: 1.4rem;
  color: var(--main-section-text-color);
  font-family: var(--Roboto-latin-font);
  text-align: center;
  margin: 0;
}
.main-section__button {
  display: block;
  font-size: 1.4rem;
  font-family: var(--Montserrat-latin-font);
  color: var(--main-button-color);
  text-align: center;
  border: 0.2rem solid var(--main-button-color);
  border-radius: 2rem;
  background-color: transparent;
  max-width: 28rem;
  max-height: 4rem;
  line-height: 4rem;
  margin: 0 auto;
  transition: background-color 200ms linear;
}
@media screen and (min-width: 768px) {
  .site-main {
    padding: 7.8rem 0 4rem 0;
  }
  .main-section__title {
    margin-bottom: 3.4rem;
  }
  .section-list {
    display: flex;
    width: 49.2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto 3.8rem auto;
  }
  .section-item {
    width: 23.6rem;
  }
  .section-item:not(:nth-child(n + 3)) {
    margin-bottom: 5.8rem;
  }
  .section-item:nth-child(3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 940px) {
  .site-main {
    padding: 7.2rem 0 7.2rem 0;
  }
  .main-section {
    width: 94.2rem;
  }
  .main-section__title {
    margin-bottom: 3.8rem;
  }
  .section-list {
    width: 100%;
  }
  .section-item {
    width: 22rem;
  }
  .section-item:nth-child(-n + 2) {
    margin: 0;
  }
  .main-section__button:hover {
    background-color: var(--main-button-color);
    color: var(--main-button-hover-color);
  }
}
